- today = Date.today
.title= @user.name
.title
  Elenco promozioni attive ( settimana dal
  =today.at_beginning_of_week.strftime("%d %b")
  al
  = today.at_end_of_week.strftime("%d %b")
  )
.main
  = render Cinema.all




