body
{
  background-color: #F0F8FF;
  font-family: "Gibson","Helvetica Neue","HelveticaNeue","Helvetica","Arial","sans-serif";
  > .title
  {
    text-align: center;
    font-size: 2em;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2),0 1px 0 0 rgba(0, 0, 0, 0.2);
    margin: 15px;
  }
  > .main
  {
    margin: 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2),0 1px 0 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    .cinema
    {
      margin: 5px;
      background-color: rgba(0, 188, 212, 0.18);
      border-radius: 5px;
      padding: 5px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.2),0 1px 0 0 rgba(0, 0, 0, 0.2);
      .name
      {
        font-size: 1.1em;
        font-weight: bold;
      }
      .address
      {
        font-size: 0.7em;
      }
      .promotion_name
      {
        margin-top: 5px;
      }
      .films
      {
        margin-top: 5px;
        .film
        {
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2),0 1px 0 0 rgba(0, 0, 0, 0.2);
          border-radius: 5px;
          padding: 15px;
          margin-top: 5px;
          > .image
          {
            > img
            {
              width: 150px;
              box-shadow: 0 0 2px rgba(0, 0, 0, 0.2),0 1px 0 0 rgba(0, 0, 0, 0.2);
              border-radius: 5px;
            }
          }
          > .title
          {
            font-weight: bold;
            margin-top: 5px;
          }
        }

      }
    }
  }
}